body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #476318;
}

.box {
  position: relative;
  width: 600px;
  height: 400px;
  background: #8d7532;
  overflow: hidden;
}

.box .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.box .image span {
  width: 25%;
  height: 100%;
  background: url('image.jpg');
  transition: .5s;
}

.box:hover .image span {
  transform: translateY(-100%);
}

.box .image span:nth-child(1) {
  background-position: 0;
  transition-delay: 0s;
}

.box .image span:nth-child(2) {
  background-position: 33.33%;
  transition-delay: .1s;
}

.box .image span:nth-child(3) {
  background-position: 66.66%;
  transition-delay: .2s;
}

.box .image span:nth-child(4) {
  background-position: 100%;
  transition-delay: .3s;
}

.box .content  {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  box-sizing: border-box;
  text-align: justify;
  transition: .5s;
  transform: translateY(100%);
}

.box:hover .content  {
  transition-delay: .5s;
  transform: translateY(0);
  border: 1px solid #fff;
}

.box .content h2 {
  color: #f8d0b0;
  font-size: 2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.box .content p {
  color: #ebebe3;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 100;
}